* {
  margin: 0px;
  box-sizing: border-box;
  max-width: 100%;
}
/* reference */
.materials {
  background-image: url(./slike/reference.png);
  background-image: linear-gradient(
      rgba(73, 130, 125, 0.5),
      rgba(73, 130, 125, 0.3),
      rgba(73, 130, 125, 0.3),
      rgba(73, 130, 125, 0.1)
    ),
    url("./slike/reference.png");
}
/* High Buildings */
.nb .naslov {
  height: 73px;
  float: right;
  width: 1000px;
  overflow: hidden;
  background-color: #3f6d69;
  color: #ffffff;
  margin: 60px 0px;
}
.nb .naslov h1 {
  position: relative;
  top: 18px;
  left: 24px;
  font-weight: 400;
}
.nb hr {
  float: right;
  width: 750px;
  border: 2px solid #ffffff;
}
.nb .slike div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nb .slike .slika2 {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
/* drugi deo */
.nb .naslov .h1 {
  margin-left: 520px;
}
.nb .naslov .hr {
  width: 500px;
  margin-right: 480px;
}
/* treci deo */
.nb .tri {
  float: left;
}
.nb .tri .trii {
  margin-left: 720px;
}
.nb .tri hr {
  margin-right: 280px;
}
/* cetvrti deo */
.nb .naslov .hr-cetiri {
  width: 300px;
}

/* peti deo */
.kraj{
  margin-bottom: 40px;
}