* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Allerta Stencil", sans-serif;
  font-family: "Inconsolata", monospace;
  font-family: "Lato", sans-serif;
  font-family: "Lobster Two", cursive;
  font-family: "Marck Script", cursive;
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sail", cursive;
  font-family: "Sono", sans-serif;
  font-family: "Zilla Slab", serif;
}
/* pre-header */
.pre-header {
  background-color: #3f6d69;
  width: 100%;
  height: 71px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* .pre-header:hover {
  border: 1px solid #3f6d69;
} */

.pre-header .left,
.pre-header .right {
  display: flex;
  font-size: large;
  color: #ffffff;
}
.pre-header .left {
  margin-right: 280px;
}
.pre-header .left .phone {
  margin-right: 8px;
  margin-top: 1px;
  font-size: larger;
}
.pre-header .right .down {
  font-size: small;
  margin-top: 4px;
  margin-right: 7px;
}
.pre-header .right .fb-ins {
  margin-left: 7px;
  font-size: larger;
}

/* header */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 105px;
  background-color: #ffffff;
}
.links a {
  text-decoration: none;
  color: #3f6d69;
  width: 87px;
  height: 23px;

  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #3f6d69;
  padding: 7px;
}
.lupa {
  font-size: 13px;
  color: #3f6d69;
}
/* landing */
.landing {
  width: 100%;
  height: 664px;

  background-image: linear-gradient(
      180deg,
      rgba(73, 130, 125, 0.6) 61.01%,
      rgba(7, 7, 7, 0) 112.63%
    ),
    url("./slike/landing photo.png");
  background-repeat: no-repeat;
}
.landing .first {
  font-weight: 600;
  font-size: 70px;
  line-height: 105px;
  letter-spacing: 0.03em;
  color: #ffffff;

  position: absolute;
  width: 692px;
  height: 210px;
  left: 200px;
  top: 390px;
}
.landing .first span {
  background-color: rgb(63, 110, 106, 0.84);
  padding-left: 20px;
  padding-right: 20px;
}
.landing .second {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  width: 631px;
  height: 30px;
  left: 197px;
  top: 604px;
}
.landing button {
  position: absolute;
  width: 170px;
  height: 58px;
  left: 198px;
  top: 680px;
  border: none;
  background: #fdffff;
  border-radius: 4px;

  font-weight: 300;
  font-size: 25px;
  line-height: 38px;
  color: #3f6d69;
}
/* about-home */
.about-home {
  width: 100%;
  display: flex;
  padding: 80px;
}
.about-home .about-text {
  width: 40%;
  padding-top: 80px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #3f6d69;
}
.about-home .about-text h1 {
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.03em;

  width: 307px;
  height: 96px;
}
.about-home .about-text p {
  width: 365px;
  height: 321px;
}
.about-home .about-text hr {
  width: 77px;
  height: 0px;
  border: 2px solid #3f6d69;
  position: absolute;
  left: -1px;
  top: 1046px;
}
.about-home .about-text .btn,
.offers .btn {
  width: 100px;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 38px;
  background: #3f6d69;
  border-radius: 6px;
  color: white;
  border: none;
  margin-top: 40px;
}
.about-home .about-image {
  display: flex;
}
.about-home .about-image .image1 .img1 {
  position: relative;
  left: 233px;
  top: 51px;
}
.about-home .about-image .image2 .img2 {
  position: relative;
  left: 250px;
  bottom: 6px;
}
.about-home .about-image .image1 .img3 {
  position: relative;
  top: 60px;
  left: 234px;
}
.about-home .about-image .image2 .img4 {
  position: relative;
  left: 29px;
  top: 6px;
}
/* offers  */
.offers .h1 {
  width: 479px;
  height: 96px;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0.03em;
  margin: auto;
  color: #3f6d69;

  position: relative;
  top: 40px;
  left: 45px;
}
.offers .right-hr {
  position: absolute;
  width: 428px;
  height: 0px;
  left: 1036px;
  top: 1795px;

  border: 2px solid #3f6d69;
}
.offers .left-hr {
  position: absolute;
  width: 446px;
  height: 0px;
  left: 0px;
  top: 1795px;

  border: 2px solid #3f6d69;
}
.offers .offers-container {
  display: flex;
  padding: 80px;
}
.offers .offers-container .img2 {
  position: relative;
  top: 125px;
}
.offers .offers-container .text {
  width: 320px;
  height: 259px;
  color: #3f6d69;

  position: relative;
  top: 55px;
  left: 50px;
}
.offers .offers-container .text h1 {
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 0.03em;
  margin: auto;
  padding-bottom: 30px;
  text-align: center;
}

.offers .offers-container .text p {
  margin-left: 40px;
  margin-right: 40px;

  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #3f6d69;
}
.offers .btnmore {
  position: relative;
  top: 40px;
  left: 47%;
}
