* {
  margin: 0px;
  box-sizing: border-box;
}

/* materials */
.materials {
  background-image: linear-gradient(
      rgba(73, 130, 125, 0.5),
      rgba(73, 130, 125, 0.3),
      rgba(73, 130, 125, 0.3),
      rgba(73, 130, 125, 0.1)
    ),
    url("./slike/materials.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 98, 5vw;
  height: 100vh;
}
.materials h1 {
  padding-top: 337px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
/* photo  */
.materials1 {
  padding: 80px 0px 100px 50px;
}

.first1,
.second,
.third {
  display: flex;
  justify-content: space-around;
}
.first1 p,
.second p,
.third p,
.fourth p {
  position: relative;
  bottom: 20px;
  padding-left: 100px;
  width: 98, 5vw;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;

  color: #3f6d69;
}
.materials1 .paragraf {
  position: relative;
  right: 55px;
}
.pre-footer {
  width: 98, 5vw;
}
.footer {
  width: 98, 5vw;
}
